fastapi
uvicorn
docker
arxiv
scholarly
git+https://github.com/rytilahti/python-miio.git
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-chroma
llama-parse
llamaindex-py-client
openai
numpy
tenacity
colorama
tiktoken
python-Levenshtein
aiofiles
markdownify
youtube-search
pytube
mediawikiapi
wikibase_rest_api_client
pdfminer.six
pathvalidate
pymupdf4llm
playwright